
.footer {
    background-color:  #1c962d; 
    color: #F8F8F8; 
    text-align: center;
    padding: 15px 0;
    font-size: 0.95rem;
    border-top: 2px solid #D9E4DD; 
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }